/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
    #wrapper {
        min-width: unset !important;
    }

    .pc {
        display: none !important;
    }

    * {
        column-gap: 0px !important;
        row-gap: 0px !important;
    }

    .inner {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #menu-toggle {
        display: block;
    }
    /* END min-width:1px && screen-max:750px */
}


@media screen and (min-width: 375px) and (max-width: 750px) {

    /* END min-width:375px && screen-max:750px */
}



@media screen and (min-width: 425px) and (max-width: 750px) {

    /* END min-width:425px && screen-max:750px */
}



@media screen and (min-width: 525px) and (max-width: 750px) {

    /* END min-width:525px && screen-max:750px */
}