:root {
    --content-width: 1230px;
    --font-yugothic: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    --font-yumincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
    --font-meiryo: "Meiryo UI", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
    --font-arial: Arial, Helvetica, sans-serif;
    --color-primary: #626288;
    --color-secondary: #BEAE97;
    --color-purple: #67576B;
    --color-black: #333333;
    --color-gray: #cccccc;
    --text-line-height: 1.8em;
    --font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    --body-color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
    font-size: 160%;
    -webkit-text-size-adjust: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    border: solid 1px #999999;
    padding: 10px;
    font-family: var(--font-family);
}

textarea {
    resize: vertical;
}

::placeholder {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6em;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-family: var(--font-yumincho);
}

a {
    color: var(--color-secondary);
    transition: all 0.2s;
}

select {
    visibility: visible !important;
}

[href^="tel:"] {
    word-break: keep-all;
    white-space: nowrap;
}

img {
    vertical-align: middle;
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
}

table {
    width: 100%;
}

p {
    margin-bottom: 1.85em;
    line-height: 1.8em;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: solid 1px #333;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

/*==========================================================================*/
/*                              G L O B A L                                 */
/*==========================================================================*/

html {
    background: #fff;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: none;
    color: var(--body-color);
    font-family: var(--font-family);
}

#wrapper {
    min-width: var(--content-width);
    margin: 0 auto;
    overflow: hidden;
}

.inner {
    width: var(--content-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*==========================================================================*/
/*             W O R D P R E S S   U S E R   L O G G E D   I N              */
/*==========================================================================*/

.customize-support {
    header {
        margin-top: 32px;
    }
}

@media screen and (max-width: 782px) {
    .customize-support {
        header {
            margin-top: 46px !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .customize-support {
        header {
            margin-top: 0px !important;
        }
    }
}



#wpadminbar .show-template-name,
#wpadminbar .hover .show-template-name {
    text-shadow: none;
}

#wpadminbar #wp-admin-bar-included_files_path .ab-item {
    height: auto;
    padding-bottom: 1rem;
}

#wpadminbar #wp-admin-bar-included_files_path .ab-item div {
    font-family: monospace;
    text-shadow: none;
    color: #fff;
}

#wpadminbar .hover .show-template-name:hover {
    color: #2ea2cc;
}

#wpadminbar #wp-admin-bar-included_files_path .ab-item #included-files-list li {
    line-height: 1.5;
}

#wpadminbar #wp-admin-bar-included_files_path .ab-item #included-files-list li:hover {
    color: #2ea2cc;
}

#wpadminbar #included-files-list {
    margin-left: 20px;
}

#wp-admin-bar-show_template_file_name_on_top-default {
    max-height: 90vh;
    overflow-x: hidden;
}

#included-files-fie-on-wp-footer {
    display: none;
}

#wpadminbar #wp-admin-bar-aioseo-main .aioseo-logo {
    display: inline-block !important;
    height: 23px !important;
    transform: translateY(6px);
}

body#tinymce {
    margin: 15px;
}