/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
    .image-l,
    .image-r {
        float: none;
        text-align: center;
        margin: 0 0 25px;
    }

    /* END min-width:1px && screen-max:750px */
}



@media screen and (min-width: 375px) and (max-width: 750px) {
    
    /* END min-width:375px && screen-max:750px */
}



@media screen and (min-width: 425px) and (max-width: 750px) {
    
    /* END min-width:425px && screen-max:750px */
}



@media screen and (min-width: 525px) and (max-width: 750px) {
    
    /* END min-width:525px && screen-max:750px */
}