@media screen and (min-width: 751px){#lightboxOverlay,#lightbox{min-width:var(--content-width) !important;width:100% !important}.sp{display:none !important}a:hover{text-decoration:none}.to-top a:hover{opacity:.7}}@media screen and (min-width: 1px)and (max-width: 750px){#wrapper{min-width:unset !important}.pc{display:none !important}*{column-gap:0px !important;row-gap:0px !important}.inner{width:100%;padding-left:15px;padding-right:15px}#menu-toggle{display:block}}/*# sourceMappingURL=responsive.css.map */
